body{
    margin: 0;
     
     font-family: 'Poppins', sans-serif;
     
     background: linear-gradient(
      rgba(0,0,0,0.8),
      rgba(0,0,0,0.8),
      rgba(0,0,0,0.8)
    ),
    url("netflix\ home.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    color:white;
}
   

.header{
    width: 100%;
    height: 110px;
    background: transparent;
    
}
.logo{
    float: left;
    width: 50%;
    padding-top: 10px;
}
.logo-text{
    font-size: 52px;
    font-weight: 900;
    color: #e50914;
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: 190px;
}
.login-form{
    width: 50%;
    float: left;
    padding-top: 22px;
  
}
.options{
    
    width: 100px;
    height: 35px;
    margin-left: 340px;
    background: black;
    color: azure;
    border-radius: 5px;
}
.Sign-btn{
    width: 90px;
    height: 30px;
    background: #e50914;
    color: azure;
    font-weight: bold;
    border:none;
    cursor: pointer;
    margin-left: 10px;
}
.Sign-btn:hover{
    background-color: #f40612;
}
.body{
    width: 100%;
    height: 700px;
    text-align: center;
    margin-top: 150px;
    
}
.content1{
    font-size: 52px;
    font-weight: 800;
    
}
.content2{
    font-size: medium;
}
.email-box{
    
    flex-direction: column;
    margin-top: 20px;
    margin-right: 15px;
    width: 350px;
    height: 45px;
    border-color: #e50914;
    border-radius: 6px;
}
input::placeholder{
    color: #8fa9a4;
}
.Getstart{
    width: 240px;
    height:50px ;
    background: #e50914;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.Getstart:hover{
    background-color: #f40612;
}
.text{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
}
.footer{
    width: 100%;
    height: 400px;
    background: black;
    
    
}
